---
pagination: 
    data: collections.posts
    size: 5
    alias: posts
    reverse: true
layout: layouts/base.njk
---


{% for post in posts %}
<div class="post-preview">
  <a href="{{ post.url | url }}">
    <h2 class="post-title">
       {{ post.data.title }}
    </h2>
    <h3 class="post-subtitle">
       {{ post.data.description }}
    </h3>
  </a>
  <p class = "post-meta">Posted by <span style = "background-image: url('https://res.cloudinary.com/dvcaihgh4/image/upload/c_scale,h_26,w_26/v1605650181/IMG-20190226-WA0003_urbfbu.jpg');"></span> {{ post.data.author }} on {{post.data.date}}</p>
</div>
<hr>
{% endfor %}



<div style = "text-align: center;">
{% if pagination.previous %}
<a class = "btn btn-primary float-left" href = "{{ pagination.previousPageLink | url}}">Newer Posts</a>
{% endif %}

{% if pagination.next %}
<a class = "btn btn-primary float-right" href = "{{ pagination.nextPageLink | url}}">Older Posts</a>

{% endif %}
</div>