<p><strong>About the Author</strong></p>
<p><em>{{ author }}</em></p>
<img src="https://res.cloudinary.com/dvcaihgh4/image/upload/c_scale,h_325,r_10,w_347/v1605650482/IMG-20190226-WA0003_urbfbu.jpg">
<p>Next js, react js, redux</p>